* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial';
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #3b3b3b;
}

main {
    margin: 0 auto;
}
.slider {
    display: flex;
    overflow: hidden;
    margin-top: 15vh;
}